body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.pointer{
    cursor: pointer;
}
.center{
    text-align: center;
}
.no-padding{
    padding-left: 0px;
    padding: 0px;
}
.circle-display{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color:white;
    text-align: center;
    font-size: 16px;
    display: table;
    margin: 0 auto;
    padding-top:13px;
}
.inbox{
    
    height:80vh; 
}
.inbox-header{
    font-size: 15px;
    font-weight: bold;
    padding-bottom:12px; 
    border-bottom: solid 1px #CCD1D1;
    
}
.mail-list{
    overflow-y: auto;
    height:100%; 
}
.email-box{
    padding-top:8px;
    padding-bottom:12px; 
    border-bottom: solid 1px #CCD1D1;
}
.color-red{
    background-color: #C0392B;
}
.color-green{
    background-color: #16A085;
}
.color-blue{
    background-color: #2980B9;
}
.color-yellow{
    background-color: #F1C40F;
}
.color-purple{
    background-color: #9B59B6;
}
.color-orange{
    background-color: #E67E22;
}
.mail-collapse{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.mail-body{
    color: gray;
}
.date-from{
    padding: 0px;
    float: right;
    color: gray;
}

.mail-list::-webkit-scrollbar-track
{
	
	border-radius: 5px;
	background-color: white;
}

.mail-list::-webkit-scrollbar
{
	width: 8px;
	background-color: white;
}

.mail-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #CCD1D1;
}
.filter-dropdown{
    z-index: 3;
    position: fixed;
    background: white;
    color: lightskyblue;
    font-weight: lighter;
    font-size: 15px;
    border-left: solid gray;
    padding-left: 8px;
    cursor: pointer;
}
.filter{
    float: right;
}