
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="root"></div>

@section scripts
    {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <script src="~/scripts/react/build/bundle.js"></script>

}

